#login_form {
  width: 100%;
}

._SEC {
  padding: 3rem 0;
}

._SEC_2 {
  padding: 1.77rem 0;
}

.auth_form {
  min-height: 100vh;
}

.title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_box h1 {
  color: #f1f1f1;
  font-size: 2.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title_box_breadcrum h1,
.title_box_breadcrum h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1f1f1;
}

.title_box_breadcrum h1 {
  font-size: 2.5rem;
  margin: 0;
}

.title_box_breadcrum h5 {
  font-size: 1.22rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.image_branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.image_branding img {
  width: 100%;
}

.about_us_branding {
  padding: 1rem 1.5rem;
}

.about_us_branding h2 {
  color: #f1f1f1;
  font-size: 2.5rem;
}

.about_us_branding p {
  color: #f1f1f1;
  font-size: 0.9rem;
}

.collection_link_body .img_wrapper {
  position: relative;
  max-width: 100%;
  height: 20rem;
  overflow: hidden;
}

.collection_link_body .img_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  will-change: transform, opacity;
  border-radius: inherit;
  -webkit-filter: unset;
          filter: unset;
  -webkit-transition: opacity 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
  transition: opacity 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
  transition: opacity 0.25s ease 0s, transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
  border-radius: 0.6rem;
}

.collection_link_body .collction_title {
  position: absolute;
  left: 0px;
  top: 0;
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), color-stop(50%, rgba(0, 0, 0, 0.05)), color-stop(85%, rgba(0, 0, 0, 0.05)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%);
}

.collection_link_body .collction_title .collction_span {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  font-size: 1.22rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collection_link_body .collction_title .collection_arrow {
  visibility: hidden;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.collection_link_body:hover .collection_arrow {
  visibility: visible;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.service_sector .ant-row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.service_sector .card-body {
  padding: 1.5rem;
}

.service_sector .card-body:hover .services_front_card_body {
  -webkit-transform: rotateY(-360deg);
          transform: rotateY(-360deg);
}

.service_sector .services_front_card_body {
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem 1.5rem;
}

.service_sector .service_subtitle h5 {
  font-size: 0.9rem;
}

.service_sector .card_col {
  color: #f1f1f1;
  text-align: center;
}

.service_sector .card_col .icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_sector .card_col .icon-box svg {
  padding: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  color: #f8fb3a;
  border: 1px solid #f8fb3a;
}

.corportate_container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.corportate_container .corporate_box_body {
  background: #ffffff;
  padding: 1rem 1.21rem;
  color: #202020;
  -webkit-box-shadow: 0 0 8px 0px #cdcdcdc4;
          box-shadow: 0 0 8px 0px #cdcdcdc4;
  border-radius: 0.5rem;
}

.how_to_body p {
  color: #f1f1f1;
}

.how_to_body h2 {
  color: #f0f0f0 !important;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.carrer_sec {
  padding: 2rem 0;
  border-top: 1px solid #232c34;
  border-bottom: 1px solid #232c34;
}

.cerrer_row {
  color: white;
}

.cerrer_row .carrer_title span {
  color: #f1f1f1;
}

.carrer_image_branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrer_image_branding img {
  width: 2rem;
}

.carrer_image_branding .resurent_title {
  margin-left: 1rem;
  font-size: 1.6rem;
}

.footer_row {
  padding: 1rem 0;
}

.footer_row .footer_head_title h1 {
  color: white;
  margin: 0;
}

.footer_row .footer_image_branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_row .footer_image_branding img {
  width: 2rem;
}

.footer_row .footer_image_branding .footer_title {
  margin-right: 1rem;
  font-size: 1.6rem;
  color: white;
}

.footer_copyright {
  border-top: 1px solid #232c34;
}

.footer_copyright p {
  font-size: 1.6rem;
  margin: 0;
  padding: 1.77rem 0;
  color: white;
}

.search_breadcrum {
  padding: 0.77rem;
}

.search_breadcrum a,
.search_breadcrum span {
  color: #f1f1f1 !important;
}

.search_banner_box .search_banner_image {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.food_drawer_button {
  position: fixed;
  left: 0;
  top: 50%;
  bottom: 50%;
  background: #414c56;
  border-bottom-right-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  cursor: pointer;
  height: 3.5rem;
  width: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food_drawer_button .button_rag {
  background: #727272;
  z-index: 10;
  height: 70%;
  width: 2px;
}

.order-list-food-item {
  margin-top: 0.5rem;
  max-height: 300px;
  overflow: hidden auto;
}

.order-list-box {
  padding-right: 0.5rem;
}

.time-head-branding {
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
}

.time-head-branding .icon-box svg {
  color: black;
  font-size: 2rem;
}

.food_title_branding h4 {
  margin: 0;
  text-transform: capitalize;
  font-size: 1rem;
}

.food_title_branding span {
  color: #e71a5c;
  font-weight: 700;
  font-size: 0.9rem;
}

.food_item_qty_box {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.food_item_qty_box .food_item_qty {
  margin: 0 0.2rem;
  color: #666666;
}

#food-drawer .ant-empty {
  color: #7c7c7c !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food-item-body {
  margin-top: 0.5rem;
}

.food-item-body:hover .qty-box-body {
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
}

.summery_cx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.summery_cx h5 {
  font-size: 1rem;
  color: #707070;
}

.summery_cx b {
  font-size: 1.166rem;
  color: #292929;
}

.food_summery_body {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  padding-top: 1rem;
}

.single_food_box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.single_food_box .img_box_branding {
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_food_box .img_box_branding img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15%;
}

.single_food_box .food-contents {
  width: 100%;
  color: #f1f1f1;
}

.single_food_box .food-contents .title_branding h6 {
  font-size: 1.4rem;
  color: #cdcdcd;
  margin: 0;
  text-transform: capitalize;
}

.single_food_box .food-contents .food-subtitle {
  color: #c3bc9a;
}

.single_food_box .food-contents .food-star {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.single_food_box .food-contents .food-price span {
  font-size: 0.9rem;
  color: #c1c1c1;
}

.single_food_box .food-contents .food_recipe {
  text-transform: capitalize;
  color: #f3e5d4;
}

.order_summery_heading {
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_summery_heading h3 {
  color: #f1f1f1;
  margin: 0;
}

.order_summery_heading .number_heading_box {
  padding: 0.5rem 1rem;
  background: #e71a5c;
  border-radius: 50%;
}

.order_summery_heading .title_heading h3 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.order_summery_sec form {
  margin-top: 1.5rem;
}

.order_summery_sec form .ant-input {
  background-color: #0c1a28 !important;
  color: #f1f1f1;
}

.overview_body > * {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
}

.overview_body h3 {
  font-size: 1.22rem;
  font-weight: 700;
  text-transform: capitalize;
}

.select_box {
  border: 1px solid #dddddd;
}

.select_box .radio_button label {
  color: #f1f1f1;
}

.chackout_overview .chackout_xo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chackout_overview .chackout_xo h5 {
  color: white;
  font-size: 1rem;
}

.chackout_overview .food_title_branding h4 {
  color: white;
}

.chackout_overview h1 {
  color: #f1f1f1;
  letter-spacing: 2px;
}

.payment_form input,
.payment_form .StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  -webkit-box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
          box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 1px solid whitesmoke;
  outline: 0;
  border-radius: 0px;
  background: #0c1a28 !important;
  color: white;
}

.payment_form input::-webkit-input-placeholder {
  color: #aab7c4;
}

.payment_form input:-ms-input-placeholder {
  color: #aab7c4;
}

.payment_form input::-ms-input-placeholder {
  color: #aab7c4;
}

.payment_form input::placeholder {
  color: #aab7c4;
}

.payment_form input:focus,
.payment_form .StripeElement--focus {
  -webkit-box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
          box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.payment_form .StripeElement.IdealBankElement,
.payment_form .StripeElement.FpxBankElement,
.payment_form .StripeElement.PaymentRequestButton {
  padding: 0;
}

.payment_form .StripeElement.PaymentRequestButton {
  height: 40px;
}

.user_active_order ul {
  margin: 0;
  padding: 0;
}

.user_active_order ul li {
  list-style: none;
}

.user_active_order h1,
.user_active_order h3 {
  margin: 0;
}

.user_active_order .user_order_li {
  margin-bottom: 1rem;
}

.user_active_order .user_order_img_container .ant-avatar {
  width: 75px;
  height: 75px;
  border-radius: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_active_order .user_order_img_container .ant-avatar-group .ant-avatar:not(:first-child) {
  margin-left: -25px !important;
}

.user_active_order .shipping_ul li {
  color: #f1f1f1;
}

.user_active_order .shipping_ul h3 {
  color: #6670ed;
}

.user_active_order .order_total_price h1 {
  color: white;
}

.user_active_order .order_status_box {
  padding: 0.2rem 0.5rem;
  border-radius: 0.33rem;
}

.user_order_branding_body .heading_branding h1 {
  color: #f1f1f1;
}

.user_order_branding_body ul {
  margin: 0;
  padding: 0;
}

.user_order_branding_body ul li {
  list-style: none;
}

.user_order_branding_body .user_shipping_info li {
  font-size: 1.1rem;
  color: white;
}

.user_order_branding_body .user_shipping_info h1 {
  color: white;
  margin: 0;
}

.user_order_branding_body .user_shipping_info h6 {
  color: #6670ed;
  font-size: 1rem;
}

.user_order_branding_body h1 {
  margin: 0;
}

.order_status_branding h1 {
  font-size: 1.22rem;
  color: #f1f1f1;
  letter-spacing: 2px;
}

.order_status_branding h1 span {
  color: #6670ed;
  font-size: 1.39rem;
}

.order_status_image img {
  width: 100%;
  border-radius: 3rem;
}

.single_order_thumb {
  width: 8rem;
}

.single_order_thumb img {
  border-radius: 1rem;
  width: 100%;
}

.user_single_order_summery {
  padding: 0.5rem 1.4rem;
  background: #04203c;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.user_single_order_summery h1 {
  color: #f1f1f1;
  margin: 0;
}

.single_order_summery ul {
  margin: 0;
  padding: 0;
}

.single_order_summery ul li {
  gap: 2rem;
  list-style: none;
  margin-bottom: 1.22rem;
}

.single_order_summery ul h1 {
  color: #f1f1f1;
}

.single_order_summery ul h1 span {
  margin: 0 0.5rem;
}

.mobile_user_order_number h3 {
  color: #f1f1f1;
}

.user_rate_count h4 {
  margin: 0;
}

.user_info_form input {
  background: #04203c !important;
  color: white;
}

.profile_title h1 {
  color: #f1f1f1;
  margin: 0;
}

.img_wrapper_carrer img {
  width: 100%;
  border-radius: 1rem;
}

.carrer_info_brading .heading_info h1 {
  text-align: center;
  color: white;
  font-size: 2rem;
}
/*# sourceMappingURL=indeed.css.map */